world/
world_nether/
world_the_end/
logs/
plugins/
spigotserver.jar
eula.txt
whitelist.json
help.yml
permissions.yml
server.properties
ops.json
commands.yml
bukkit.yml
banned-players.json
banned-ips.json
spigot.yml
usercache.json
*.swp
dist/
